<p><%= @user.username %></p>

<p>Thanks for joining the GlobalFriend™ Club!  You are a REAL friend, <%= @user.username %>!</p>

<p><%= link_to "Visit Your Friends at GlobalFriend™!", root_url %></p>


