<h3>Hello, Global Friend! Here are all of the properties you could rent.</h3>

<% @properties.each do |property| %>
  <p>
  <% if !property.pictures.first.nil? %>
    <%= link_to image_tag(property.pictures.first.image(:thumb)), property_path(property)   %><br />
  <% end %>
  <%= link_to property.name, property_path(property) %><br/>
  <%= property.description %></p>
<% end %>

<%= link_to "Add a Property to Rent", new_property_path, class: 'btn btn-success btn-sm' %>
